@{
    ViewBag.Title = "Registration Page";
}

<h3>@ViewBag.Message</h3>

<form action="/Home/StoreInfo" method="put">
    Name: <input type="text" name="addName" />
    <br />
    <input type="submit" value="Search" />
</form>